# Fichiers LaTeX temporaires
*.aux
*.bbl
*.blg
*.brf
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.jpg
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.toc
*.nav
*.snm
*.vrb
*.xdv

# Fichiers compilés
#*.pdf  # Enlève cette ligne si tu veux versionner le PDF
Céleste ECGS2 Maristes/DNSTL_facultatif_2_F_2024-25.pdf
.DS_Store
